<section class="banner-homepage" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path 'banner-andainage.png' %>');">
  <div class="container">
    <div class="row text-center">
      <h2>Fermedebrye</h2>
      <h1>Travail de qualité</h1>
      <br>
      <p>Exploitation agricole en plein changement</p>
      <br>
    </div>
  </div>
</section>

<!-- CTA -->

<div class="container m-tb--5">
  <div class="row text-center">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <button class="btn btn-black">Hivernage caravane</button>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="luzerne.html.erb">
            <button class="btn btn-green">Découvrir notre luzerne</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<section class="wrapper-bg-gray">
  <div class="container">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
        Nos différentes activités
      </div>
    </h2>
        <div class="padding-top-60px">

      <div class="row">

        <div class="col-xs-12 col-md-4">
          <div class="card-background">
            <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('<%= image_path 'banner-andainage.png' %>');">
              <div class="card-background-description text-center">
                <h3 class="text-center">Culture de luzerne</h3>
              </div>
            </div>
            <div class="card-background-explication border-bottom-green">
              <p class="margin-top-20px">La culture de luzerne est quelque chose de fantastique. D'un point de vue cultural, elle enrichit le sol en azote, favorise la faune et la flore du sol et lutte contre les adventices de manière totalement naturelle.
              <br><br>
              D'un point de vue nutrition animale, bien que malheureusement peu connue et utilisée en Belgique, la luzerne est premièrement LE fourrage santé pour le bétail. En plus de cela, elle fournit naturellement un riche taux en protéine permettant de respecter un cahier des charge de production locale.
              <br><br>
              Mais ce n'est pas tout... Une ration vache laitière à base de luzerne permet de réduit ses coûts de production jusqu'à 12 centimes / litres de lait.  </p>
            </div>
            <a class="" href="#" ></a>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-background">
            <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('<%= image_path 'culture-bio.png' %>');">
              <div class="card-background-description text-center">
                <h3 class="text-center">Culture Biologique</h3>
              </div>
            </div>
            <div class="card-background-explication border-bottom-green">
              <p class="margin-top-20px">Nous avons converti nos parcelles en Bio en 2015. Ce choix, c'est celui d'une notion de respect, de liberté et de cohérence.
              <br><br>
              La conversion Bio est une première étapes pour nous. La suite? Inventer une agriculture de conservation. C'est à dire? Imaginer une forêts au beau milieu d'un champs composé que 10 cultures différentes. Des haies, des ruches, des bancs pour contempler la nature qui pousse,...
              <br><br>
              Une croyance : la nature porte en elle toutes les solutions.
              <br><br>
              Un vision : Challenger et penser le monde agricole.
              <br><br>
              Un combat : L'agriculteur dois ré-apprendre son métier. Nourrir la population et entretenir le paysage.
              </p>
            </div>
            <a class="" href="#" ></a>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-background">
            <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('<%= image_path 'caravanes.png' %>');">
              <div class="card-background-description text-center">
                <h3 class="text-center">Hivernage caravane</h3>
              </div>
            </div>
            <div class="card-background-explication border-bottom-green">
              <p class="margin-top-20px">
                Suite à la disponibilité d'un vaste bâtiment couvert, nous nous sommes orientés vers l'hivernage de caravanes.
                <br><br>
                Nous proposons un service de qualité, dans une relation de confiance, avec un bâtiment sécurisé à destination des personnes souhaitant dormir sur le deux oreilles le restant de l'année.
                <br><br>
                Un seul mot : On s'occupe de tout. Vous nous déposez votre véhicule. Quand vous en avez besoin, vous le récupérez propre, entretenu, prêt à partir vers de nouveaux horizons.

              </p>
            </div>
            <a class="" href="#" ></a>
          </div>
        </div>



      </div>
  </div>
</section>


<section class="wrapper-bg-white">
  <div class="container">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
        Equipe
      </div>
    </h2>
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-green">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-green">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-green">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-green">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-green">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-green">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



